* {
    box-sizing: border-box;
}

/* Small Layout */
video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 0vh;
    font-size: 2em;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #DAE2E7;
}

body {
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

header {
    text-align: center;
}

header a:link {
    color: #fff;
    outline: 5px #000;
}

header a:visited {
    color: #fff;
    outline: 5px #000;
}

header a:hover {
    color: #CC9933;
}

nav {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    background-color: #3B4D57;
    border-bottom: 2px solid #fff;
    border-radius: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:link {
    color: #DAE2E7;
}

nav a:visited {
    color: #DAE2E7;
}

nav a:hover {
    color: #CC9933;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: 1px solid #fff;
    padding: .5em 1em;
    width: 100%;
}

main {
    display: block;
    padding: 0 0 2em 0;
    color: #000;
}

main h2,
h3,
h4,
p,
div,
ul,
dl {
    padding-left: 1em;
    padding-right: 1em;
}

main ul {
    padding-left: 2em;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

footer {
    background-color: hsla(34, 29%, 33%, 0.562);
    font-size: 1em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
    border-top: 2px solid #8C3826;
}

footer a:link {
    color: #acc;
}

footer a:visited {
    color: #8C3826;
}

#calendar {
    text-align: center;
    opacity: 0.5;
    margin-top: 5vh;

    position: relative;
    padding-bottom: 66.66%;
    padding-top: 25px;
    height: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    border: none;
}

#calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#calendar:hover {
    text-align: center;
    margin-top: 5vh;
    opacity: 1;
}

.current {
    text-transform: capitalize;
    text-decoration-line: underline;
    font-style: oblique;
}

/* Medium Layout */
@media (min-width: 600px) {

    h1 {
        text-align: center;
        font-size: 4em;
    }

    body {
        text-align: center;
    }

    main {
        display: block;
        padding: 0 0em 2em 0;
    }

    nav {
        font-size: 1em;
    }

    nav ul {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

    #calendar {
        text-align: center;
        opacity: 0.5;
        margin-top: 5vh;

        position: relative;
        padding-bottom: 75%;
        padding-top: 25px;
        height: 0;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    #calendar:hover {
        text-align: center;
        margin-top: 5vh;
        opacity: 1;
    }

    /* Large Layout */
    @media (min-width: 1024px) {
        @supports (display: grid) {
            header {
                grid-area: header;
                text-align: center;
                padding-top: 0px;
            }

            h1 {
                grid-area: header;
                text-align: center;
                font-size: 6em;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }

            nav {
                font-size: 1.75em;
                font-family: 'Bebas Neue', cursive;
                padding-left: 10px;
            }

            main {
                text-align: center;
                margin: auto;
            }

            footer {
                grid-area: footer;
            }

            nav ul {
                flex-direction: row;
            }

            #calendar {
                opacity: 0.5;
                margin-top: 5vh;
                margin-left: 100px;

                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;
                display: block;
                width: 85%;
                overflow: hidden;
            }
        }
    }
}