* {
	box-sizing: border-box;
}


/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Make the images invisible by default */
.Containers {
	display: none;
}

/* forward & Back buttons
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
} */

/* Place the "forward button" to the right
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
} */

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Info */
.Info {
	color: #e3e3e3;
	font-size: 16px;
	padding: 10px 14px;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
	color: #f2f2f3;
	font-size: 14px;
	padding: 10px 14px;
	position: absolute;
	top: 0;
}

/* The circles or bullets and indicators */
.dots {
	cursor: pointer;
	height: 16px;
	width: 16px;
	margin: auto;
	background-color: #acc;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.5s ease;

}

.enable,
.dots:hover {
	background-color: #717161;
}

/* Faint animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.4s;
	animation-name: fade;
	animation-duration: 1.4s;
}

@-webkit-keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 2
	}
}

@keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 2
	}
}


































/* Small Layout */
body {
	background-color: #766f62;
	color: #221811;

	background-position: center;
	background-size: cover;
	scroll-behavior: auto;
	font-family: 'Cairo', sans-serif;
	margin: 0;
}

header {
	background-color: #bfcccf;
	text-align: center;
	border-radius: 30px;
}

header a {
	text-decoration: none;
}

header a:link {
	color: #3B4D57;
	outline: 5px #000;
}

header a:visited {
	color: #3B4D57;
	outline: 5px #000;
}

header a:hover {
	color: #792727;
}

h1 {
	font-size: 2.5em;
	font-family: 'Montserrat Subrayada', sans-serif;
	color: #DAE2E7;
}

h1 a:hover {
	color: #CC9933;
}

h2 {
	color: #8C3826;
	font-size: 2em;
}

h3,
dt {
	color: #8C3826;
	font-size: 1.5em;
	font-family: 'Bungee Inline', cursive;
}

h4 {
	color: #8C3826;
	font-size: 1em;
}

#drivers {
	background-color: #766f62;
	font-size: 1.2em;
	float: right;
	padding: 1em 1em 1em 1em;
	text-align: left;
	text-transform: uppercase;
	/* border-bottom: 1px solid #221811; */
	clear: left;
	align-content: center;
}


nav {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Bebas Neue', cursive;
	background-color: #3B4D57;
	border-bottom: 2px solid #fff;
	border-radius: 30px;
}

nav a {
	text-decoration: none;
}

nav a:link {
	color: #DAE2E7;
}

nav a:visited {
	color: #DAE2E7;
}

nav a:hover {
	color: #CC9933;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	font-size: 1.25em;
	margin: 0;
	padding: 0;
}

nav li {
	border-bottom: 1px solid #bfcccf;
	padding: .5em 1em;
	width: 100%;
}

main {
	border-top: 2px solid #8C3826;
	background-color: #bfcccf;
	display: block;
	padding: 1em 0 1em 2em;
}

main a:link {
	color: #8C3826;
	font-size: 1.25em;
}

main a:visited {
	color: #717161;
	font-size: 1.25em;
}

main h2,
h3,
p,
div,
ul,
dl {
	padding-right: 1em;
}

main ul {
	padding-left: 2em;
	padding-top: 0;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

#homerace {
	background-position: center;
	height: 500px;
	background-image: url(images/cars/racing-gfbad98df1_1920.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#mobile {
	display: inline;
}

#desktop {
	display: none;
}

footer {
	background-color: #766f62;
	font-size: 1em;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
	border-top: 2px solid #8C3826;
}

footer a:link {
	color: #acc;
}

footer a:visited {
	color: #8C3826;
}

#slideshow {
	margin: auto;
	padding-left: 30px;
}

.column {
	float: left;
	width: 100%;
	object-position: left;
}

.row {
	padding: 0;
	border-bottom:2px solid #8C3826; 
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#navfill {
	background-color: #717161;
	padding: 0;
}

.current {
	text-transform: capitalize;
	text-decoration-line: underline;
	font-style: oblique;
}

.fill {
	background-color: #717161;
	border-radius: 20px;
	color: #fff;
}

.fill a:link {
	color: #fff;
	font-size: 1em;
}

.fill a:visited {
	color: #fff;
	font-size: 1em;
}

.fill2 {
	background-color: #fff;
	border-radius: 20px;
	padding-left: 10px;
	font-family: 'Bungee Inline', cursive;
}

/* Medium Layout */
@media (min-width: 600px) {
	header {
		text-align: center;
		border-radius: 30px;
	}

	h1 {
		font-size: 4em;
	}

	nav {
		font-size: 1em;
		grid-area: nav;
	}

	nav ul {
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	nav li {
		border-bottom: none;
	}

	video {
		max-width: 100%;
		height: auto;
	}

	#flow {
		display: flex;
		flex-direction: row;
	}

	#mobile {
		display: none;
	}

	#desktop {
		display: inline;
	}

	#slideshow {
		margin: auto;
		padding-left: 33px;
	}

}

/* Large Layout */
@media (min-width: 1024px) {
	@supports (display: grid) {
		header {
			grid-area: header;
			text-align: center;
			padding-top: 5px;
			padding-bottom: 1px;
			border-radius: 0;
		}

		h1 {
			grid-area: header;
			font-size: 6em;
			margin-top: 2vh;
			margin-bottom: 2vh;
		}

		nav {
			padding-left: 10px;
			font-size: 1.9em;
			border-bottom: 2px solid #fff;
		}

		main {
			text-align: left;
			padding-left: 100px;
			padding-right: 100px;
			/* grid-area: main;
			padding-left: 100px;
			padding-right: 100px;
			background-position: center; */
		}

		h2 {
			padding-left: 0px;
			font-size: 3em;
			text-align: left;
		}

		footer {
			grid-area: footer;
		}

		#homerace {
			background-position: center;
			height: 500px;
			background-image: url(images/cars/race-car-gc6c578599_1920.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}

		#slideshow {
			margin: auto;
		}

		.column {
			float: left;
			width: 50%;
			object-position: left;
		}

		#navfill {
			background-color: #bfcccf;
			padding: 0;
		}
	}
}